ul {
    list-style-type: none;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    padding: 15px;
    font-size: 25px;
    margin-left: 20%;
}

h1 {
    margin-top: 100px;
}

h2 {
    margin-top: 100px;
    margin-bottom: 50px;
}

.custom-link {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

.custom-link:hover {
    font-weight: 700;
    color: black;
}

.custom-link.active {
    font-weight: 700;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    display: flex;
}

.card-image img {
    max-width: 100%;
    height: auto;
}

.card-body {
    width: 100%;
    padding-left: 40px;
    margin-top: 30px;
}

.card-title {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(207, 75, 75);
    margin: 10px;
    border-radius: 10px;
}

.card-price {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(207, 165, 75);
    margin: 10px;
    border-radius: 10px;
}

.card-description {
    width: 100%;
    border: 1px solid black;
    background-color: silver;
    margin: 10px;
    border-radius: 10px;
}